* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex: 1;
  background-color: rgba(19, 19, 19, 1); 
  color: #fff;
  padding: 3.4vh 4.7vw 3.3vh 4.8vw;
  font-size: 11px;
}

.header__logo {
  font-weight: bold;
  color: rgba(227, 184, 115, 1);
}

.header__nav {
  flex: 1;
  padding-right: 47px;
}

.header__menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.header__link {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.header__link.active {
  color: rgba(227, 184, 115, 1);
}

.header__link:hover {
  background-color: #ddd;
  color: #000;
}

.header__contacts {
  display: flex;
  align-items: center;
}

.header__phone {
  color: #fff;
  text-decoration: none;
  margin-right: 45px;
  color: rgba(227, 184, 115, 1);
  text-decoration: underline;

}

.header__btn {
  background-color: rgba(227, 184, 115, 1); 
  color: white;
  border: none;
  font-style: italic;
  padding: 13px 33px;
  border-radius: 2px;
  transition: all 500ms ease;
  cursor: pointer;
}

.header__btn:hover {
  background-color: #ffcc00;
  transform: scale(1.05);
}


/* MAIN SECTION */

.main-block {
  background-image:linear-gradient(rgba(0, 0, 0, 0.7)), url('img/mainphoto.jpg'); 
  background-size: cover;      /* Растягивает картинку на весь блок */
  background-position: center; /* Центрирует изображение */
  background-repeat: no-repeat;
  display: flex;
  align-items: center;        
  color: #fff;
  text-align: left;
  padding: 18vh 32.8vw 19.3vh 7vw;
}

/* Контейнер с контентом — поверх фона */
.container {
  max-width: 100%;
  padding: 0 5vw;
}

.main-block__title {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 1.2;
  max-width: 100%;
  font-family: 'Yeseva One';
  line-height: 133%;
  letter-spacing: 0;
}

.main-block__text {
  font-size: 22px;
  margin-bottom: 40px;
  max-width: 60%;
  line-height: 164%;
  font-weight: 400;
}

.main-title {
  color: rgba(227, 184, 115, 1);
}

.main-block__buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; /* Кнопки переносятся на мобильных */
}

.btn {
  padding: 14px 28px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 11px;
  border: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: rgba(227, 184, 115, 1);
  color: #fff;
}

.btn-primary:hover {
  background-color: #ffcc00;
  transform: scale(1.05);
}

.btn-secondary {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}

.btn-secondary:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
}

/* Completed Project */

.completed-projects {
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: rgba(19, 19, 19, 0.95);
  padding: 4.64vw 7.03vw 28.56vw 7.03vw;
}

.completed-projects__header {
  display: flex;
  justify-content: right;
  margin-bottom: 45px;
}

.completed-projects__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.nav-item {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 400;
  font-size: 14px;
  margin-right: 55px;
  line-height: 139%;
  font-family: 'Yeseva One';
}

.nav-item.active {
  color: rgba(227, 184, 115, 1);
  text-decoration: underline;
}

.completed-projects__content {
  display: flex;
}

.completed-projects__text-block {
  width: 49%;
  padding-right: 20px;
}

.completed-projects__image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: end;
  position: relative;
}

.completed-projects__image img {
  width: 80%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

h2 {
  color: rgba(227, 184, 115, 1);
  font-size: 27px;
  margin-bottom: 35px;
  line-height: 139%;
  letter-spacing: -7%;
  font-family: 'Yeseva One';
}

p {
  color: #ddd;
  font-size: 14px;
  line-height: 191%;
  max-width: 680px;
  margin-bottom: 42px;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.info-item {
  align-items: center;
  gap: 10px;
}

.label {
  color: rgba(227, 184, 115, 1);
  font-size: 18px;
  line-height: 139%;
  font-family: 'Yeseva One';
  margin-bottom: 10px;
}

.value {
  color: #ddd;
  font-size: 13px;
  line-height: 164%;
}

.completed-projects__vector {
  margin-top: 65px;
  display: flex;
}

.circle{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.competed__circle {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 17px;
  border-radius: 50%;
  margin-left: 29px;
}

.competed__circle.active {
  background-color: #ddd;
}

.competed__circle:last-of-type {
  margin-right: 29px;
}

.mobile-arrows {
  display: none;
}
/* SLIDER*/
.completed-projects__image {
    position: relative;
    overflow: hidden;
    margin-top: 30px;
  }

  .slide-img {
    width: 100%;
    height: auto;
    display: none;
    border-radius: 10px;
  }

  .slide-img.active {
    display: block;
  }

  .completed-projects__vector {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
  }

  .arrow {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: opacity 0.3s;
  }

  .arrow:hover {
    opacity: 0.7;
  }

  .circle {
    display: flex;
    gap: 15px;
  }

  .competed__circle {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .competed__circle.active {
    background-color: #ffffff;
  }

  .competed__circle:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .nav-item.active {
    color: #e3b873; 
    border-bottom: 3px solid #e3b873;
    padding-bottom: 10px;
  }

/*  ONLINE CONTROLE */

.online-control {
  text-align: center;
  margin-top: -350px;
  padding: 0 clamp(16px, 23.33vw, 336px);

}

.online-control h2 {
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  line-height: 139%;
  font-family: 'Yeseva One';
  text-align: center;
}

.video-container {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 80%; 
  max-width: 800px; 
  overflow: hidden;
}

.img__control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.img__vector:first-of-type {
  margin: 17px;
}

.img__vector {
  margin-right: 13px;
}

.video-container img {
  max-width: 100%;
  height: auto;
  filter: brightness(20%);
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(227, 184, 115, 1);
  border: none;
  border-radius: 50%;
  padding: clamp(16px, 1.94vw, 28px);
  cursor: pointer;
}

.play-button img { 
  position: absolute; 
 max-width: clamp(12px, 1.25vw, 18px);
  height: clamp(12px, 1.25vw, 18px);
  transform: translate(-50%, -50%);
  padding-left: 5px;
}

.paragraf p {
  color: #000;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 91px;
  font-size: 18px;
  line-height: 205%;
}

.checkbox-wrapper {
 margin: 0 auto;
 margin-top: 15px;
}

.request-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;
  flex-wrap: wrap;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: rgba(54, 54, 54, 0.5);
  text-align: left;
  font-size: 13px;
}

.form-group input {
  width: 100%;
  border: none;
  border-bottom: solid 1px rgba(54, 54, 54, 0.3);
  font-size: 14px;
  box-sizing: border-box;
  margin-right: 58px;
}

.submit-button {
  background-color: rgba(227, 184, 115, 1); 
  color: #fff;
  padding: 20px 95px 20px 95px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
}

/*  TYPES OF REPAIR */
.img__repair {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 31px;
}

.repair-types {
  text-align: center;
  margin: 20px 0;
  margin-top: 150px;
}

.repair-types h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #000;
  font-family: 'Yeseva One';
}

.repair-cards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding-left: 7.08vw;
  padding-right: 7.08vw;
}

.repair-card {
  width: 30%;
  height: auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.repair-card img {
  max-width: 100%;
  height: 100%;
}

.card-content {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  margin-top: -135px;
  margin-left: 25px;
  width: 310px;
  text-align: left;
  padding-top: 25px;
  padding-left: 35px;
}

.card-content h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #333;
  line-height: 139%;
  font-family: 'Yeseva One';
}

.card-content ul {
  padding-left: 0;
  margin-bottom: 23px;
  font-size: 13px;
  color: rgba(149, 149, 149, 1);
  line-height: 205%;
  font-family: 'Nunito Sans';
}

.card-content button {
  background-color: rgba(227, 184, 115, 1);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  width: 230px;
  height: 55px;
  font-family: 'Yeseva One';
  font-weight: 600;
  margin-left: -35px;
}

.card-content button:hover {
  background-color: #e9a11b;
}

/*   REQUEST FORM     */
.request__form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 450px;
}

.steps-container {
  display: flex;
  flex-direction: column;
  gap: 80px; /* Расстояние между шагами */
  max-width: 550px; 
  background-image: url(img/request.png);
  background-size: cover;
}

.step-item {
  display: flex;
  align-items: center;
  gap: 20px; /* Расстояние между номером и текстом */
}

.step-number {
  width: 42px;
  height: 42px;
  border-radius: 50%; 
  background-color: rgba(227, 184, 115, 1); 
  display: flex;
  justify-content: center; 
  align-items: center; 
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  border: 8px solid rgba(255, 255, 255, 1);
}

.step-text {
  font-size: 14px;
  line-height: 100%;
  color: #333; /* Цвет текста */
}

.measurement-form-wrapper {
  background-color: rgba(19, 19, 19, 1); /* Тёмный фон формы */
  padding: 28px 49px;
  border-radius: 8px;
  max-width: 505px;
}

.form-title-section {
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
}

.form-title-section h2 {
  font-size: 18px;
  color: white;
  line-height: 143%;
  font-family: 'Nunito Sans';
  font-weight: 400;
}

.measurement-request-form {
  display: flex;
  flex-direction: column;
}

.input-container {
  margin-bottom: 25px;
}

.label-text {
  color: rgba(255, 255, 255, 0.5);
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 164%;
}

.text-input,
.tel-input,
.email-input {
  padding: 15px;
  border: none;
  background-color: rgba(19, 19, 19, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  color: #fff;
  font-size: 14px;
  width: 100%;
}

.checkbox-area {
  align-items: start;
  display: flex;
  gap: 10px;
}

.help__money {
  margin-top: 40px;
  display: flex;
  justify-content: end;
  padding-right: 255px;
  align-items: center;
}

.pig__money {
  display: flex;
  justify-content: center;
  background-color: rgba(227, 184, 115, 1);
  width: 72px;
  height: 72px;
  align-items: center;
  border-radius: 50%;
  margin-right: 25px;
}

.help {
  color: rgba(227, 184, 115, 1);
  font-size: 18px;
}

/* DESIGN STYLE BLOCK */

.design-styles-block {
  display: flex; 
  justify-content: space-between;  
  padding: 20px;
  background-image:linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.9)), url(img/designstyle.png);
  background-size: cover;
  margin-top: 130px;
  margin-bottom: 69px;
  max-height: 900px;
}


.text-column {
  text-align: left;
  align-items: center;
  padding-top: 137px;
  padding-left: 99px;
}

.text-column h2 {
  color: rgba(227, 184, 115, 1); /* Цвет заголовка как в макете */
  font-size: 27px;
  font-weight: bold;
  line-height: 139%;
  margin-bottom: 47px;
  
}

.style-list {
  list-style-type: none; 
  font-size: 20px;
  line-height: 191%;
  color: #fff; /* Белый цвет текста на тёмном фоне */
  font-family: 'Nunito Sans';
}

.style-list li {
  padding-bottom: 15px;
}

.style-list li:first-child {
  color: rgba(227, 184, 115, 1);
  text-decoration: underline;
}

.image-gallery {
  max-width: 60%; 
  display: grid; 
  grid-template-columns: repeat(2, 1fr); /* Две колонки в сетке */
  grid-template-rows: repeat(4, 1fr); /* Две строки в сетке */
  gap: 30px; 
  object-fit: cover;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;                     
}
.image1 {
  grid-column: 1;
  grid-row: 2 / span 2;
}
.image2 {
  grid-column: 2;
  grid-row: 1 / span 2;
}
.image3 {
  grid-column: 1;
  grid-row: 4 / span 2;
}
.image4 {
  grid-column: 2;
  grid-row: 3 / span 2;
}


/* OUR CLIENTS*/

.clients-block {
  padding: 60px 0;
  background-color: #ffffff; 
  background-image: url(img/backgroundclient.png);
  background-repeat: no-repeat;
  padding-bottom: 450px;
  background-position: 50% 60%;
  background-size: cover;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container h2 {
  font-size: 20px;
  margin-bottom: 13px;
}

.logo__clients {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #333333;
}

.subtitle {
  text-align: center;
  font-size: 18px;
  color: rgba(54, 54, 54, 1);
  margin-bottom: 40px;
  line-height: 164%;
  font-family: 'Nunito Sans';
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.clients-grid {
  display: flex;
  justify-content: space-between;
  gap: 30px; 
}

.client-card {
  width: 30%; 
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #ffffff;
}

.client-avatar {
  display: flex;
  margin-bottom: 20px;
}

.client__name {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 127%;
  font-weight: 600;
  margin-left: 30px;
  font-family: 'Yeseva One';
  color: rgba(24, 24, 24, 1);
}

.client-avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.client-avatar h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 127%;
  margin-left: 30px;
  font-family: 'Yeseva One';
  margin-bottom: 22px;
}

.client-info p {
  margin: 10px;
  padding: 0;
  line-height: 180%;
  color: rgba(149, 149, 149, 1);
  font-size: 13px;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eeeeee;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
}

.stat-item span {
  background-color: #f7c44e; 
  padding: 8px 12px;
  border-radius: 4px;
}

.stats-container {
  display: flex; 
  margin-top: 50px; 
  margin-left: -20px;
}

.stats-block {
  padding: 8px 16px; 
  background-color: rgba(227, 184, 115, 1);
  border-right: 1px solid white;
  font-size: 17px;
  font-weight: 500;
  color: white;
  text-align: center; 
  font-weight: 600;
  margin-bottom: -42px;
  align-items: center;
  display: flex;
}

.stats-block img {
  margin-right: 10px;
}


/*    FORM      */

.contact-form {
  max-width: 653px;
  height: 445px;
  margin: 0 auto;
  padding: 34px 181px;
  background-color: rgba(19, 19, 19, 1); /* Тёмный фон как на макете */
  color: #fff; /* Белый текст */
  font-family: Arial, sans-serif;
  margin-top: -250px;
  position: relative;
  z-index: 2;
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  line-height: 139%;
  font-family: 'Yeseva One';
  margin-bottom: 45px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}


.form-groups label {
  display: block;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  line-height: 164%;
}

.form-groups input {
  width: 100%;
  padding-bottom: 10px;
  border: none;
  color: #fff;
  font-size: 16px;
  background-color:rgba(19, 19, 19, 1) ;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

#text::-webkit-input-placeholder {
  color: white;
}

#name::-webkit-input-placeholder {
  color: white;
}

#phone::-webkit-input-placeholder {
  color: white;
}

.form-check {
  margin-bottom: 50px;
  margin-top: 45px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 164%;
}

.submit-btn {
  padding: 15px;
  width: 200px;
  background-color: rgba(227, 184, 115, 1); /* Жёлтый цвет кнопки как на макете */
  border: none;
  border-radius: 4px;
  font-size: 13px;
  line-height: 205%;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  color: white;
}

.submit-btn:hover {
  background-color: #e8c12c; /* Лёгкое затемнение при наведении */
}

.btn__form {
  align-items: center;
  display: flex;
  justify-content: center;
}

/*      CARD      */

.last__section {
  background-image:linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.9)), url(img/lastsection.png);
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  box-sizing: border-box;
}

.title__cart h3 {
  color: rgba(227, 184, 115, 1);
  font-size: 20px;
  line-height: 139%;
  text-align: center;
  padding-top: 52px;
  font-family: 'Yeseva One';
  margin-bottom: 25px;
}

.logo-msg {
  display: flex;
  justify-content: center;
}

.logo-msg img {
  margin-right: 15px;
  margin-bottom: 45px;
}

.img-cart {
  display: flex;
  justify-content: center;
  padding-bottom: 66px;
}

/*      FOOTER        */

.footer {
  background-color: rgba(24, 24, 24, 1); 
  padding: 61px 90px; 
  color: #fff; 
  font-family: 'Nunito Sans', sans-serif;
}

.containers {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around; 
  align-items: center; 
}

/* Стили для меню */
.footer-menu {
  display: flex;
  align-items: center;
}

.footer-logo {
  font-size: 11px;
  font-weight: 600;
  margin-right: 95px;
  text-decoration: none;
  color: rgba(227, 184, 115, 1);
}

.footer-links {
  list-style: none;
  display: flex;
  gap: 45px; /* Расстояние между ссылками */
  margin: 0;
  padding: 0;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  transition: color 0.3s;
  font-size: 11px;
  font-family: 'Nunito Sans';
}

.footer-links a:hover {
  color: #ff9900; 
}

/* Стили для блока контактов */
.footer-contact {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer-contact span {
  font-weight: 500;
  font-size: 11px;
  margin-right: 45px;
  color: rgba(227, 184, 115, 1);
  text-decoration: underline;
}

.footer-links .active {
  color: rgba(227, 184, 115, 1);
}

.request-call {
  background-color: rgba(227, 184, 115, 1);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 11px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.request-call:hover {
  background-color: #e68a00; 
}

/* === АДАПТИВНЫЕ МЕДИАЗАПРОСЫ  === */

/* Мобильные устройства (до 480px) */
@media (max-width: 480px) {
  .container { 
    max-width: 1200px; 
    margin: 0 auto; 
  }
  .header__nav,
  .header__btn {
    display: none; 
  }
  .header {
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    padding: 1rem 20px; 
  }
  .header__logo {
    font-size: 11px;
    color: rgba(227, 184, 115, 1); 
    flex: 1; 
  }
  .header__contacts {
    display: flex;
  
    justify-content: flex-end;
  }
  .header__phone {
    color: #fff; 
    font-size: 11px;
    text-decoration: none;
    margin: 0;
  }
  .main-block {
    padding: 50px 20px;
  }
  .main-block__title {
    font-size: 23px;
    line-height: 133%;
  }
  .main-block__text {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 136%;
    max-width: 100%;
  }
  .btn {
    width: 100%; 
    text-align: center; 
    font-size: 11px; 
  }
  .completed-projects__content {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 20px !important;
    width: 100% !important;
    padding: 0 16px !important;
  }
  .completed-projects__nav {
    display: none;
  }
  .completed-projects__text-block {
    width: 100% !important;
    text-align: center !important;
  }
  .completed-projects__text-block h2 {
    font-size: 22px !important;
    margin: 0 0 22px 0 !important;
    line-height: 1.39 !important;
    text-align: center !important;
    letter-spacing: -7%;
  }
  .completed-projects__text-block p {
    font-size: 11px !important;
    margin: 0 0 20px 0 !important;
    line-height: 1.58 !important;
    color: #ddd !important;
    text-align: center !important;
  }
  .completed-projects__image {  
    width: 100% !important;
    max-width: 320px !important;
    margin: 0 auto !important;
    border-radius: 8px !important;
    overflow: hidden !important;
  }
  .completed-projects__image img {
    width: 100% !important;
    height: auto !important;
  }
  .completed-projects__vector {
    display: none;
  }
 .info-grid {
    order: 3;
    margin-top: 30px;
  }
  .online-control {
    margin-top: 0;
    background-color:rgba(19, 19, 19, 0.95) !important;
    color: white !important;
    padding: 0 17px;
    text-align: center;
  }
  .online-control h2,
  .online-control p,
  .online-control span,
  .online-control a {
    color: #fff !important;
  }

  .online-control p {
    font-size: 11px;
    margin-bottom: 20px;
  }
  .request-form {
    flex-direction: column;
    align-items: stretch; 
    width: 100%; 
  }
  .request-form label {
    color: rgba(255, 255, 255, 0.5);
  }
  .request-form input:not([type="checkbox"]) {
    width: 100% !important;
    flex: none !important;
    box-sizing: border-box;
    margin-bottom: 50px;
    background-color: rgba(19, 19, 19, 0) !important;
    border: none;
    border-bottom: 1px solid white;
    padding: 0 0 10px 0;
  }
  .checkbox-wrapper {
    order: 1; 
    margin-bottom: 20px;
  }
  .request-form button {
    width: 100% !important;
    min-width: 100% !important;
    padding: 16px !important;
    box-sizing: border-box;
    order: 2; 
    margin-top: 8px;
    margin-bottom: -25px;
  }
  
  
  .repair-types {
    padding: 20px 15px;
    text-align: center;
  }

  .repair-types h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .img__repair {
    margin-bottom: 20px;
  }

  .img__repair img {
    width: 24px;
    height: auto;
  }

  .repair-cards {
    flex-direction: column;
    gap: 20px;
  
  }

  .repair-card {
    width: 100%;
    max-width: 350px;
  }

  .repair-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .card-content {
    position: static;
    background: white;
    margin-top: 0;
    width: 100%;
    transform: none;
    margin: 0;
    padding: 20px 15px;
    letter-spacing: 170%;
  }

  .card-content h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .card-content ul {
    font-size: 14px;
    line-height: 1.8;
    padding-left: 18px;
  }

  .card-content button {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    margin-left: 0;
    margin-top: 10px;
  }

  .card-content button:hover {
    background-color: #e9a11b;
  }

  .request__form {
    display: none;
  }
  .help__money {
    display: none;
  }

  .design-styles-block {
    flex-direction: column;
    text-align: center;
    background-image: none;
    margin-top: 0;
  }


  .text-column h2 {
    font-size: 22px;
    text-align: center;
  }
  
  .text-column {
    padding: 0;
  }

  .text-column .style-list {
    display: none; 
  }

  .image-gallery {
    display: flex;
    flex: 1;
    max-width: 100%;
    order: 2;
  }
  .image-gallery .gallery-image {
    display: none; 
  }

  .image-gallery .first-mobile {
    display: block; 
    z-index: 2;
    height: auto;
  }

  .clients-block {
    display: none;
  }

  .contact-form {
    padding: 200px 16px 20px 16px;    
    height: auto;           
    box-sizing: border-box;
    z-index: 1;
  }

  .contact-form h2 {
    font-size: 22px;        
    line-height: 1.4;
    text-align: center;
    margin-bottom: 30px;
    color: white;
  }

  /* Размещаем поля "Name" и "Phone" вертикально */
  .form-row {
    flex-direction: column;
    gap: 20px;
  }
  .form-groups {
    width: 100%;
  }
  .form-groups input {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
  #text {
    width: 100%;
  }

  .form-check {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    margin: 25px 0;
    font-size: 14px;
    line-height: 1.5;
  }

  .form-check input {
    margin-top: 3px;
    accent-color: #e3b873; 
  }

  /* Кнопка — на всю ширину, но с ограничением */
  .btn__form {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .submit-btn {
    width: 100%;
    max-width: 280px;       
    padding: 16px;
    font-size: 16px;        
    line-height: 1.3;
    font-weight: 600;
  }
  .footer {
    display: none;
  }
  .contacts-wrapper {
    background-color: rgba(24, 24, 24, 1);
  }
  .img-cart {
    order: 1;
    padding: 0;
    height: auto;
  }

  .title__cart {
    order: 2;
  }
  .title__cart h3 {
    font-size: 18px;
    text-transform: uppercase;
  }
  .logo-msg {
    order: 3;
  }
  
  h2, h3 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
  .btn {
    font-size: 10px;
    padding: 10px 15px;
  }

  /* SLIDERMOBILE*/

.mobile-arrows {
    display: block;
    pointer-events: auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }

  .mobile-arrow {
    width: 36px;
    height:36px;
    background: rgba(227, 184, 115, 1);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .mobile-arrow img {
    width: 10px;
    height: 10px;
    padding: 10px;
  }
  .completed-projects__image {
  position: relative;
  margin-top: 30px;
}
.completed-projects__content {
    flex-direction: column;
  }

  .completed-projects__text-block {
    margin-bottom: 20px;
  }
}

/* Планшеты (от 481px до 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .header {
    padding: 30px;
  }
  .main-block {
    padding: 100px 30px;
  }
  .main-block__title {
    font-size: 36px;
  }
  .main-block__text {
    font-size: 20px;
  }
  .repair-cards {
    gap: 15px;
  }
}

/* Ноутбуки (от 769px до 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .header {
    padding: 40px 30px;
  }
  .main-block {
    padding: 150px 50px;
  }
  .completed-projects__text-block {
    width: 50%;
  }
  .repair-cards {
    gap: 25px;
  }
}



